*.DS_Store
lastz-distrib-1.02.00/
lastz-distrib/
multiz-tba.012109/
tba_alignments/.RData
tba_alignments/.Rhistory
kallisto/
get_ensembl_annotations/species_scripts/
.Rproj.user
get_ensembl_annotations/.DS_Stor
*DS_Store
*/*DS_Store
map_RNA_seq_data
*.Rhistory
*/*.Rhistory
